<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="submit_audio_file.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <submit_audio_file.Properties.Settings>
            <setting name="FlacSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpusSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LibOpusSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mp3PackerSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserKey" serializeAs="String">
                <value />
            </setting>
        </submit_audio_file.Properties.Settings>
    </userSettings>
</configuration>