<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="av1_task_generator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    
    <userSettings>
        <av1_task_generator.My.MySettings>
            <setting name="quantizer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="speed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="tempFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="bitrate" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="keyframeInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="weak_key" serializeAs="String">
                <value />
            </setting>
        </av1_task_generator.My.MySettings>
    </userSettings>
</configuration>